@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grid background */
.bg-grid {
  background-color: #182C4A;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Slide-up fade-in animation */
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideUpFade 0.8s ease-out both;
}
.delay-100 { 
    animation-delay: 0.1s;
 }


 /* Scroll animation - used for Events Card */
.animate-slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide-up fade-in animation - used for achievement section*/
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideUpFade 0.6s ease-out both;
}



/*for sponsored Form*/
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out forwards;
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  background: #506A85;
  padding: 0.75rem 1rem;
  color: white;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 2px #50C8DC;
}
